version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: tickets_db
      POSTGRES_USER: tickets_user
      POSTGRES_PASSWORD: tickets_password
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U tickets_user -d tickets_db" ]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./Backend
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./Backend:/app
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DB_NAME=tickets_db
      - DB_USER=tickets_user
      - DB_PASSWORD=tickets_password
      - DB_HOST=db
      - DB_PORT=5432
      #       - GEMINI_API_KEY=${GEMINI_API_KEY}
      - OPENAI_API_KEY=${OPENAI_API_KEY}

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  postgres_data:
